h1{
    text-align: center;
   
}
p{
  font-weight: 150;
  font-family: cursive;
}
html{ 
    background: url(./flat-lay-2583213.jpg) no-repeat fixed; 
    -webkit-background-size: cover; 
     -moz-background-size: cover; 
    -o-background-size: cover;
    background-size: cover;
    margin-right: 0%;
    overflow-x:hidden;

}
body{
  /* padding-left: 0px;
  padding-right: 0px; */
 margin: 0%;
 margin-right: 0px;
  background-attachment: fixed;
  height: 1000%;
  width: 100%;
}
/* body{
    background-color: antiquewhite;
    background-image: url(./flat-lay-2583213.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-size:100%;
    padding: auto;
    margin: auto;
    background-attachment: fixed;
    height: 1000%;
    width: 100%;;
    overflow:scroll;
} */
body{
  width: 100%;
}
h2{
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.p{
  
  /* background-color: white; */
  flex:2 ;
/* margin-left: auto; */
font-size: 20px;
 
  /* margin-left: 1.54cm; */
  color: white;
  font-family: cursive;

}
.classify{
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.classify:hover{
 background-color:rgb(167, 228, 163);

}
#name.hover{
  color:white;
}
.classi:hover{

  height:10vw ;
  width: 10vw;
}
#name1{
  text-decoration: none;
}
#name1:hover{
  text-decoration: underline;
  color: #f44336;
}
 
p{
  /* margin-right: 1cm; */
}
.btn-search{
  background-color:violet;
  border-radius: 2px;
  font-family: 'Kaushan Script', cursive;
font-family: 'Ubuntu', sans-serif;
border: 2px solid black ;
}
li a{
  ;
}
.li{
    display: inline-block;
    font-size: 130%;
    width: 3cm;
    
    font-family:Arial, Helvetica, sans-serif;
    
}
.follow{
  
  /* margin-left: 2cm; */
} 
  
#text_fol{
  font-size: 130%;
  color: white;
  padding-left: 5px;
  margin-left:5 cm;
  margin-top: 1cm;
}
      
.bar{
    background-color:brown;
    width: 100%;
    height: 1.7cm;
}

.btn{
  background-color: #04AA6D;
  color: white;
  border: none;
  cursor: pointer;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
img.avatar {
  width: 20%;
  border-radius: 50%;
}
span.psw {
  float: right;
  padding-top: 16px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
  .sidebar{
    margin-top: 13vw;
  }
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.btn:hover {
  opacity: 0.8;
}

li{
    display: inline-block;
    margin-left: 6vw;

}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.2);
        transition-duration: 1s;
}

#li2{
    display: inline-block;
}
#nav{
    height: 7%;
    background-color: black;
}


.quote{
    background-color: white;
}
#sp{
    font-family: 'Kaushan Script', cursive;
    color: blue;
}
#food_img{
    border: solid 2px black;
    border-width: 0.2cm;
    border-radius: 15px;
    width: 20%;

    
}
.header{
    float: right;
    opacity: 152%;
}


.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:white;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color:pink;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 25px;
  cursor: pointer;
  background-color:brown;
  color: white;
  padding: 10px 15px;
  margin-bottom: 0%;
  padding-bottom: 0%;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 8px;

}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


@media only screen and (max-device-width: 480px) {
  div#wrapper {
      width: 400px;
  }

  div#header {
      background-image: url("./back2.jpeg");
      height: 93px;
      position: relative;
  }

  div#header h1 {
      font-size: 140%;
  }

  #content {
      float: none;
      width: 100%;
  }

  .p {
      float:none;
      width: auto;
  }
}




.topnav {
  overflow: hidden;
  background-color:brown;
  padding-top: 0%;
  font-weight: 700;
  margin-bottom: 1vw;
}

.topnav a {
  /* float: left; */
  color: #f2f2f2;
  text-align: center;
  padding-left: 1.5vw ;
  padding-right: 3vw;
  text-decoration: none;
  font-size:1.5vw;
}

.topnav a:hover {
  background-color: aliceblue;
  color: black;
  width: 4vw;
}

.topnav a.active:hover {
  background-color: aliceblue;
  color: black;
}

.topnav a.active {
  /* background-color: #04AA6D; */
  color: white;

}

.topnav-right {
  float: right;
  margin-bottom: 0%;
  margin-top: 1vw;
  
}



.hover-underline-animation {
  color: 
#0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: 
#0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


